[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-tegra"]
	path = meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
[submodule "meta-ros"]
	path = meta-ros
	url = https://github.com/ros/meta-ros.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
